html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.app {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100vh;
}
.col-princ {
  background-color: rgb(0, 53, 6);
  width: 10%;
}
.col-title {
  width: 100%;
  padding: 5px;
  color: white;
  margin-top: 20px;
}
.col-title h1 {
  font-size: 24px;
}
.col-icons {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.col-icon-item {
  background-color: #008069;
  padding: 10px;
  border-radius: 100%;
  margin: 10px;
}
.col-publi {
  width: 20%;
  background-color: #008069;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
}
.body {
  width: 70%;
  /* height: 100%; */
  flex: 1;
}
.body-head {
  display: flex;
  background-color: #008069;
  width: 100%;
  height: 10%;
  color: white;
}
.body-title img{
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.body-title {
  width: 80%;
  display: flex;
  height: 100%;
  padding: 5px;
  margin-left: 10px;
  align-items: center;
}
.body-icons {
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10px;
}
.body-title h1 {
  font-size: 22px;
  font-weight: normal;
  margin-left: 10px;
}
/* .body-icons-item {
} */
.body-container {
  width: 100%;
  height: 100%;
}
.body-chat {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.body-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 91%;
  background-image: url('./resources/background.webp');
  background-size: cover;
  z-index: -1;
}
.chat-container {
  width: 95%;
  display: flex;
  color: black;
  margin-top: 10px;
  margin-left: 10px;
  align-items: center;
}
.chat-message{
  width: 90%;
  background-color: white;
  border-radius: 20px;
  padding: 7px;
}
.chat-foto img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.chat-foto{
  width: 40px;
  height: 40px;
}
.chat-time{
  font-size: 13px;
  width: 90px;
  color: gray;
  margin-left: 5px;
  height: max-content;
}
.chat-container-user {
  display: flex;
  width: 100%;
  color: black;
  margin-top: 10px;
  margin-right: 10px;
  justify-content: end;
}
.chat-message-user{
  background-color: #dae9cf;
  border-radius: 20px;
  padding: 7px;
}
.chat-time-user {
  height: max-content;
  font-size: 13px;
  width: 60px;
  color: gray;
  font-size: 14px;
  margin-right:10px;
}
.inputs {
  background-color: rgba(0, 53, 6, 0);
  display: flex;
  padding: 10px;
  height: max-content;
  position: absolute;
  bottom: 0;
  width: 70%;
  display: flex;
}
.inputs input {
  background-color: white;
  width: 85%;
  color: black;
  border-radius: 25px;
  padding-left: 10px;
}
.input-audio {
  background-color: #008069;
  color: white;
  padding: 10px;
  border-radius: 100%;
  margin-left: 10px;
}
.input-send {
  background-color: #008069;
  padding: 5px;
  border-radius: 90%;
  margin-left: 10px;
  color: white;
}


@media (display-mode: browser) {
  .app{
  }
  .body-chat{
    height: 78% !important;
    /* padding-bottom: 8vh; */
  }
}

@media (max-width: 600px) {
  .app {
    display: block;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

    
  
  .col-princ {
    display: none;
  }
  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .body-head {
    /* position: absolute; */
    /* top: 0; */
    align-items: center;
  }
  .body-title h1{
    margin: 0;
    margin-left: 10px;
  }
  .body-icons {
    left: 0;
  }
  .col-publi {
    display: none;
    /* width: 100%;
    height: max-content;
    /* min-height: 220px; */
    /* max-height: max-content;
    flex-direction: row;
    align-items: end;
    position: fixed;
    top: 10%;
    border-bottom: 3px solid #008069; */
    /* z-index: 1;  */
  }
  .col-publi img{
    width: 100%;
    height: 100%;
  }
  .inputs {
    background-color: transparent;
    width: 100%;
  }
  .body-image {
    height: 100%;
    background-size: cover;
    background-repeat: repeat-y;
  }
  .body-container {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    word-break: break-word;
  }
  .body-chat{
    height: 90%;
    max-height: 90%;
    /* margin-top: 70%; */
    /* position: absolute;
    top: 34vh;
    height: 58vh; */
  }
}
@media screen and (max-height: 670px) {
  .body-chat {
    /* top: 38vh;
    height: 54vh; */
  }
}